ul {
    display:flex;
    flex-wrap: wrap;
    border: solid 2px;
    width: 90vw;
    list-style-type: none;
    text-decoration: underline;
}
li {
    border: solid 1px;
    width: 11em;
}
img {
    display: relative;
    height: 10vw;
    border: solid 10px blue;
    border-radius: 30px;
    margin:0px;
    padding:0px;


}