main {
    background-image: url("../assets/main-page-welcome.png");
    background-repeat: no-repeat;
    height: 1000px;
    background-color: rgb(132,225,213);
    padding: 0px;
    margin: 0px;

}
header {
    width: 100%;
    height: 200px;
    border-bottom:  8px solid rgb(250, 100, 168);
    padding-right: 90px;
    background-image: url("../assets/header-main.png");
    background-repeat: no-repeat;
    background-color: white;
    padding: 0px;
    margin: 0px;
}
body {
    background-color: rgb(132,225,213);
    padding: 0px;
    margin: 0px;
    }
    .myButton {
        background-color:transparent;
        border-radius:42px;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Impact;
        font-size:6em;
        padding:30px 15px;
        text-decoration:none;
        text-shadow:3px 5px 31px #283966;
        margin-left: 1200px;
        margin-top: 300px;
    }
    .myButton:hover {
        background-color:transparent;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }
    

