body {
    background-image: url('/assets/products/bananas-wallpaper.png');
    background-repeat: none;
    background-size: cover;
    width: 1000px;
    height: 500px;
    }
section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    }
header {
    padding-top: 20px;
    padding-left: 40px;
}
a {
    color: white;
    }
label {
    background-color: rgb(112 92 192);
    padding: 10px;
    margin-top: 10px;
    margin-left: 40px;
    border: solid 4px rgb(240 51 150);
    border-radius: 35px;
    width: 140px;
    }
.welcome {
    grid-column: 1 / 2;
    grid-row: 1;
    }
.freshpeeps {
    grid-column: 1 / 3;
    grid-row: 1;
    margin-left: 5%;
    margin-top: 5%;
    }
.myButton {
    grid-column: 1 / 3;
    grid-row: 1 ;
    margin-top: 40%;
    margin-left:11%;
    background-color:transparent;
    border-radius:42px;
    cursor:pointer;
    color:orangered;
    font-family:Impact;
    font-size:6em;
    padding:30px 15px;
    text-decoration:none;
    text-shadow:3px 5px 31px #283966;
    }
.myButton:hover {
    background-color:transparent;
    }
.myButton:active {
    position:relative;
    top:1px;
    }
